.vagrant/
ssh/
terraform.tfvars
terraform.tfstate*
crash.log
node_modules/
npm-debug.log
ubuntu-xenial-16.04-*log

setEnv.sh
d.zip
client_secret.json
client_access_token.json
temp_*
deployment.json
docs
apip

oradbInstantClient/

npm-debug.log
setEnv
temp_*
*-dpl.yaml
*-pvc.yaml
deploy.sh
undeploy.sh

dbconfig.js

apis4gifts-pvc.yaml

Vagrantfile

sso_config.json
app_config.json
oicharness.zip